<!DOCTYPE html>
{% extends "students/master.html" %}
{% load static %}
<html lang="en">
    
    {% block title %}
    Students Data
    {% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">


{% block content %}
    <p><a href="/">HOME</a></p>
    <h1>All Students</h1>
    <ul>
        {% for x in students %}
        <li style="list-style: none;"><a href="dashboard/{{x.id}}">{{ x.firstname }} {{ x.lastname }}</a></li>
        {% endfor %}
    </ul>

    <h2>In table format</h2>
    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone Number</th>
            <th>Email Address</th>

        </tr>
        
        {% for i in students %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.firstname }}</td>
            <td>{{ i.lastname }}</td>
            <td>{{ i.phone_number }}</td>
            <td>{{ i.email }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

</html>