<!DOCTYPE html>
{% extends "students/master.html" %}
    {% block title %}
    Student Dashboard
    {% endblock %}


    {% block content %}
    <p class="success-message">You have successfully enrolled into Neon Institute.</p>
    <div class="mycard">
        <h1>{{ student.firstname }} {{ student.lastname }}</h1>
        <p>Email address: {{ student.email }}</p>
        <p>Phone number: {{ student.phone_number }}</p>
        <p>Member since: {{ student.date_joined }}</p>
      </div>
    <p>Back to <a href="/students">Students list</a></p>
    {% endblock %}