<!DOCTYPE html>
{% extends "students/master.html" %}
    {% block title %}
    Student Dashboard
    {% endblock %}


    {% block content %}
    <h1>Welcome {{student.lastname}} <strong>{{student.firstname}}</strong>!</h1>
    <p>You have successfully enrolled into Neon Institute.</p>

    <hr/>
    <p><strong>Email address:</strong> {{ student.email }}</p>
    <p><strong>Phone number:</strong> +{{ student.phone_number }}</p>
    <p><strong>You joined ClassA on:</strong> {{ student.date_joined }}</p>
    <p>Back to <a href="/students">Students list</a></p>
    {% endblock %}