<!DOCTYPE html>
{% extends "students/master.html" %}
    {% block title %}
    Students Welcome Page
    {% endblock %}
    
    
    {% block content %}
    <div class="main">
        <h1>Hello Student!!</h1>
        <p>You're welcome to Neon Institute</p>
        <br />
        <p>Check out all our <a href="students/">students</a></p>
      
      </div>
    <a href="students/"><button>Go to students page</button></a>
    <a href="students/add_student/"><button>Add student</button></a>
    <a href="students/update/"><button>Update student record</button></a>
    <a href="students/delete/"><button>Delete student record</button></a>
    <a href="/admin"><button>Login as admin</button></a>
    {% endblock %}